/*@import url('normalize.css');
/*Estilos Generales
---------------------------------------------------------*/
body{
    font-family: 'Roboto', serif;
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
    color: #ffffff;
    background-color: #000c1a;
}
section{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
}
a{
    color: #fff;
    text-decoration: none;
}
/*Imagenes redondas con shadow*/
.testimonials .testimonial-item img {
    max-width: 12rem;
    -webkit-box-shadow: 0 5px 5px 0 #adb5bd;
    box-shadow: 0 5px 5px 0 #adb5bd;
}
ul{
    padding: 0 !important;
}

/*Para navbar
---------------------------------------------------------*/
.navbar {
   background-color: #000c1a !important;
   height: 60px;
   line-height: 60px;
   white-space: nowrap;
}

.navbar-brand {
   color: #ffffff;
   padding: 0 15px;
   height: 50px;
   line-height: 50px;
}

#nav {
    padding-right: 0;
}

@media screen and (max-width: 400px){
    a.navbar-brand{
        font-size: 24px !important;
    }
}

a.nav-link {
    color: #ffffff;
}
a.nav-link:hover {
    color: #007BFF;
}

.navbar-brand:hover{
    color: #ffffff;
}

.logo.navbar-brand{
    padding: 0 !important;
}

a.navbar-brand{
    font-size: 28px;
    margin-right: 0;
}
.navbar-header,
.navbar-collapse{
    padding-right: 0;
    padding-left: 0;
}


/*Efecto particulas
--------------------------------------------------------------*/
#particles-js{
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#intro-div {
    position: relative;
}
.inside,
#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    top :0;
    left: 0;
}
.inside{
    z-index:-10;
}
#intro {

    padding:0 ;
    padding-top: 50px;
}
/*Para los efectos de las palabras del banner
------------------------------------------------------------*/
.rw-wrapper{
    width: 100%;
	position: relative;
	margin: 5% auto 0 auto;
	padding: 10px;
}
.rw-sentence{
	margin: 0;
    margin-bottom: 5%;
	text-transform: uppercase;
	font-weight: 300;
    font-size: 1.5em;
	text-shadow: 0 0 0 rgba(0,0,0,0.0001);
}
.rw-sentence span{
	color: #f7f5f6;
	white-space: nowrap;
}
.rw-sentence > span:first-child{
	display: block;
	text-indent: 5px;
	font-size: 145%;
}
.rw-words{
	width: 100%;
	height: 100px;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.rw-words span{
	position: absolute;
	width: 100%;
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
}
.rw-words-1 span{
	font-size: 500%;
	line-height: 82%;
    color: #f7f5f6;
    -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
	-ms-animation: rotateWordsFirst 18s linear infinite 0s;
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	font-size: 300%;
	font-style: italic;
	text-indent: 5px;
	line-height: 90%;
	color: #007BFF;
	-webkit-animation: rotateWordsSecond 18s ease-in infinite 0s;
	-ms-animation: rotateWordsSecond 18s ease-in infinite 0s;
	animation: rotateWordsSecond 18s ease-in infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}
@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsFirst {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -ms-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; width: 100%;}
    10% { opacity: 1; -webkit-animation-timing-function: ease-out; width: 100%;}
    20% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -ms-animation-timing-function: ease-out; width: 100%;}
    10% { opacity: 1; -ms-animation-timing-function: ease-out; width: 100%;}
    20% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px;}
    10% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; width: 100%;}
    20% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 1060px){
	.rw-words{ height: 55px; }
	.rw-words-1 span{ font-size: 280%; text-indent: 5px;}
	.rw-words-2 span { font-size: 160%; }
}
@media screen and (max-width: 560px){
	.rw-words{ height: 40px; }
	.rw-words-1 span{ font-size: 180%; text-indent: 5px;}
	.rw-words-2 span { font-size: 90%; }
	.rw-sentence > span:first-child{ font-size: 80%;}
}
@media screen and (max-width: 400px){
	.rw-words{ height: 30px; }
	.rw-words-1 span{ font-size: 140%; text-indent: 5px;}
	.rw-words-2 span { font-size: 70%; }
	.rw-sentence > span:first-child{ font-size: 60%;}
}

/*Para Servicios
--------------------------------------------------------*/

#servicios {
    background-color: #001334;
}
.service-ico{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
.service-ico:hover{
    width: 112px;
    height: 112px;
}
.ico-cursos-1 {
    fill: none;
    stroke: #007BFF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}
.ico-cursos-2{
    fill: #007BFF;
}

/*Para los cursos
--------------------------------------------------------*/

.wow-pricing-table {
    list-style:none;
    margin:0;
    margin-top:20px;
    padding:0;
}
.wow-pricing-table div {
    list-style:none;
}
.wow-pricing-table>div {
    list-style:none;
    text-shadow:none;
    margin-bottom:0px;
    margin:0px 15px;
}

.wow-pricing-table .wow-pricing-header {
    text-align:center;
    padding:20px 0px 0px 0;
}
.wow-pricing-table .wow-pricing-header h5 {
    color:#fff;
    font-size:22px;
    margin:0;
    padding:0 10px 5px;
    height: 64px;
}
.wow-pricing-cost {
    font-size: 3rem;
    margin: 0;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  background-color: #000c1a !important;
}

.wow-pricing-table .wow-pricing-content {
    text-align:center;
    color: #ffffff;
}

.wow-pricing-table .wow-pricing-content ul {
    margin:0 !important;
    list-style:none !important;
    padding-left:0;
}

.wow-pricing-table .wow-pricing-content ul li {
    margin:0 !important;
    padding:10px 20px !important;
    list-style:none !important;
    color:#fff;
}

.wow-pricing-table .wow-pricing-button {
    text-align:center;
    padding:35px 20px 35px;
}

.wow-pricing-table .wow-pricing-button .wow-button {
    float:none;
    margin:0 auto;
    border-radius:3px;
    padding:12px 22px 14px;
}

.wow-pricing-table .buttonprice {
    background-color: #001334;
    color: #fff;
    border: solid 1px #fff;
    font-size:20px;
}


.wow-pricing-button>.buttonprice:hover{
    color: #007BFF;
    border: solid 1px #007BFF;
}

a:hover,a:focus {
    color: #007BFF;
}
/*Para Equipo
--------------------------------------------------------*/
#equipo {
    background-color: #001334;
}

#mail:hover> * {
    color: #007BFF;
}
#mail-ico {
    padding-left: 0;
    padding-right: 5px;
    font-size: 20px;
}

/*Formulario de contacto
--------------------------------------------------------*/
.regularform input,.regularform textarea {
    margin-bottom:15px;
    padding:15px;
    border:1px solid #001334;
}

#pmSubmit {
    border:0;
    color: #007BFF;
    background-color: #ffffff;
}

#pmSubmit:hover,
#pmSubmit:focus{
    color: #ffffff;
    background-color: #007BFF;
}

.regularform textarea {
    height:150px;
}

.regularform input.norightborder {
    border-right:0;
}

#contactform>*{
    background-color: #001b4d;
    color: #ffffff;
}

/*Typing Effect
---------------------------------------------------------*/

.blink{
    animation: blink 1s infinite;
}

@keyframes blink {
    to {opacity: .0;}
}

.flex {
    display: flex;
}

.typing{
    font-size: 20px;
    font-family: Raleway;
    line-height: 20px;
}

/*Texto de descripciÃ³n*/
.information>p{
    font-size: 22px;
}
a.red{
    color: #CC0000 !important;
}
a.green{
    color: #00FF00 !important;
}
a.yellow{
    color: #ffff00 !important;
}
a.blue{
    color: cyan !important;
}

/*Para social
----------------------------------------------------------*/

/* Langding Page */
/*!
 * Start Bootstrap - Landing Page v5.0.6 (https://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */body{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif}h1,h2,h3,h4,h5,h6{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:700}header.masthead{position:relative;background-color:#343a40;background:url(../img/bg-masthead.jpg) no-repeat center center;background-size:cover;padding-top:8rem;padding-bottom:8rem}header.masthead .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}header.masthead h1{font-size:2rem}@media (min-width:768px){header.masthead{padding-top:12rem;padding-bottom:12rem}header.masthead h1{font-size:3rem}}.showcase .showcase-text{padding:3rem}.showcase .showcase-img{min-height:30rem;background-size:cover}@media (min-width:768px){.showcase .showcase-text{padding:7rem}}.features-icons{padding-top:7rem;padding-bottom:7rem}.features-icons .features-icons-item{max-width:20rem}.features-icons .features-icons-item .features-icons-icon{height:7rem}.features-icons .features-icons-item .features-icons-icon i{font-size:4.5rem}.features-icons .features-icons-item:hover .features-icons-icon i{font-size:5rem}.testimonials{padding-top:7rem;padding-bottom:7rem}.testimonials .testimonial-item{max-width:18rem}.testimonials .testimonial-item img{max-width:12rem;-webkit-box-shadow:0 5px 5px 0 #adb5bd;box-shadow:0 5px 5px 0 #adb5bd}.call-to-action{position:relative;background-color:#343a40;background:url(../img/bg-masthead.jpg) no-repeat center center;background-size:cover;padding-top:7rem;padding-bottom:7rem}.call-to-action .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}footer.footer{padding-top:4rem;padding-bottom:4rem}

